<div class="container panel my-5 z-depth-1">
    <section class="text-center px-md-7 mx-md-7 dark-grey-text">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-7">
  
          <section class="head">
            <div class="container mt-5">
              <section class="team-section text-center dark-grey-text">    
                <h3 class="font-weight-bold mb-4 pb-2">
                    <i class="fas fa-quote-left pr-2"></i>
                    Java is to JavaScript what car is to Carpet.</h3> 
                    <hr>   
              </section>
            </div>
          </section>
        
        <section class="sec1">
        <div class="container my-5 py-5">
            <div class="px-md-11 mx-md-11">
            <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                <mdb-carousel-item>
                  <div class="view w-100">
                    <img class="d-block w-100" src="assets/images/building.png" alt="First slide">
                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive">View</h3>
                    <p>Our Location</p>
                  </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                  <div class="view w-100">
                    <img class="d-block w-100" src="assets/images/africa.jpg" alt="Third slide">
                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive">Testimonials</h3>
                    <p>Success Stories</p>
                  </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                  <div class="view w-100">
                    <img class="d-block w-100" src="assets/images/charity.png" alt="Third slide">
                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive">Volunteer Work</h3>
                    <p>Work for a Cause</p>
                  </div>
                </mdb-carousel-item>
                <mdb-carousel-item>
                  <div class="view w-100">
                    <img class="d-block w-100" src="assets/images/workers.png" alt="Third slide">
                    <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
                  </div>
                  <div class="carousel-caption">
                    <h3 class="h3-responsive">Careers</h3>
                    <p>Work Culture</p>
                  </div>
                </mdb-carousel-item>
              </mdb-carousel>
            </div>
            </div>
        </section>
          
        </div>
      </div>
    </section>
  </div>

<section class="sec2">
<div class="container my-5">


    <!-- Section: Block Content -->
    <section class="dark-grey-text">
      <h3 class="text-center font-weight-bold mb-4 pb-2">Our Services</h3>
      <p class="text-center text-muted w-responsive mx-auto mb-5">JS.Fofana Health, Provider of banking, mortgage, investing, 
        credit card, and personal, small business, and commercial financial services</p>
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-lg-5 mb-lg-0 mb-5">
  
          <img src="assets/images/polylogo.png" class="img-fluid rounded z-depth-1" alt="Sample project image">
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-lg-7">
  
          <ul class="list-unstyled fa-ul mb-0">
            <li class="d-flex justify-content-center pl-4">
              <span class="fa-li"><i class="fas fa-users fa-2x"></i></span>
              <div>
                <h5 class="font-weight-bold mb-3">User Experience</h5>
                <p class="text-muted">JS.Fofana Health is one of the leading providers of onloine baniking services, 
                  we strive to offer the best responsive userfriendly interface for our clients.</p>
              </div>
            </li>
            <li class="d-flex justify-content-center pl-4">
              <span class="fa-li"><i class="fas fa-shield-alt fa-2x red-text"></i></span>
              <div>
                <h5 class="font-weight-bold mb-3">Security</h5>
                <p class="text-muted">Security and fraud prevention is at the core of our business. Our security schemas 
                  are configured within our application to prevent hackers from accessing pages without authentification.</p>
              </div>
            </li>
            <li class="d-flex justify-content-center pl-4">
              <span class="fa-li"><i class="fas fa-headset fa-2x deep-purple-text"></i></span>
              <div>
                <h5 class="font-weight-bold mb-3">Customer Service</h5>
                <p class="text-muted mb-0">When it comes to your business, we know there's no such thing as 9-5. Upon requests 
                  to server feedback is displayed to user helping the user determin the correct data to send.</p>
              </div>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
      <hr class="my-5">
  
    </section>
    <!-- Section: Block Content -->
  
  
  </div>
</section>

<section class="sec3">
  <div class="container mt-5">


    <!--Section: Content-->
    <section class="team-section text-center dark-grey-text">
  
      <!-- Section heading -->
      <h3 class="font-weight-bold mb-4 pb-2">Testimonials</h3>
      <!-- Section description -->
      <p class="text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam
        eum porro a pariatur veniam.</p>
  
        <!--Grid row-->
      <div class="row text-center">
  
        <!--Grid column-->
        <div class="col-md-4 mb-4">
  
          <div class="testimonial">
            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">Amir Kamara</h4>
            <h6 class="font-weight-bold blue-text my-3">Web Designer</h6>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod
              eos id officiis hic tenetur quae quaerat ad velit ab hic tenetur.</p>
            <!--Review-->
            <div class="orange-text">
              <i class="fas fa-star"> </i>
              <i class="fas fa-star"> </i>
              <i class="fas fa-star"> </i>
              <i class="fas fa-star"> </i>
              <i class="fas fa-star-half-alt"> </i>
            </div>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-4 mb-4">
  
          <div class="testimonial">
            <!--Avatar-->
            <!-- <div class="avatar mx-auto">
              <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(8).jpg" class="rounded-circle z-depth-1 img-fluid">
            </div> -->
            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">Amir Kamara</h4>
            <h6 class="font-weight-bold blue-text my-3">Web Developer</h6>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>Ut enim ad minima veniam, quis nostrum exercitationem ullam
              corporis suscipit laboriosam, nisi ut aliquid commodi.</p>
            <!--Review-->
            <div class="orange-text">
              <i class="fas fa-star"> </i>
              <i class="fas fa-star"> </i>
              <i class="fas fa-star"> </i>
              <i class="fas fa-star-half-alt"> </i>
            </div>
          </div>
  
        </div>
        <!--Grid column-->
  
        <!--Grid column-->
        <div class="col-md-4 mb-4">
  
          <div class="testimonial">
            <!--Content-->
            <h4 class="font-weight-bold dark-grey-text mt-4">Amir Kamara</h4>
            <h6 class="font-weight-bold blue-text my-3">Photographer</h6>
            <p class="font-weight-normal dark-grey-text">
              <i class="fas fa-quote-left pr-2"></i>At vero eos et accusamus et iusto odio dignissimos ducimus qui
              blanditiis praesentium voluptatum deleniti atque corrupti.</p>
            <!--Review-->
            <div class="orange-text">
              <i class="fas fa-star"> </i>
              <i class="fas fa-star"> </i>
              <i class="fas fa-star"> </i>
              <i class="fas fa-star"> </i>
            </div>
          </div>
  
        </div>
        <!--Grid column-->
  
      </div>
      <!--Grid row-->
  
    </section>
    <!--Section: Content-->
  
  
  </div>
</section>