<nav class="navbar navbar-expand-lg navbar-dark">

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <div class="container">

      <button *ngIf="!canLogout" type="button" mdbBtn color="primary" rounded="true" data-toggle="modal" data-target="#basicExample"
      (click)="frame.show(); cancel()" mdbWavesEffect>SIGN-IN</button>
      <button *ngIf="canLogout" type="button" mdbBtn color="primary" rounded="true" (click)="logout()" mdbWavesEffect>SIGN-OUT</button>
  
    </div>
  </div>
  <!-- Collapsible content -->

</nav> 

<section>
  <button (click)='add()'>add</button>
  <p *ngFor="let res of results">{{res | json}}</p>
  <router-outlet></router-outlet>
</section>

<!-- Footer -->
<footer class="footer font-small">
 
  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">
          <!--Linkedin -->
          <a class="li-ic" href="http://linkedin.com/in/sufyan-fofana-2a743584" target="_blank">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--GitHub-->
          <a class="ins-ic" href="https://github.com/sfofana/JS.Fofana-Health" target="_blank">
            <i class="fab fa-github fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Youtube-->
          <a class="pin-ic" href="https://www.youtube.com/channel/UCQlhey4SbBsnpIRtrvaEJ6g" target="_blank">
            <i class="fab fa-youtube fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="foot text-center py-3">
    
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

<div mdbModal #frame="mdbModal" class="modal fade bottom" id="frameModalTop" tabindex="-1" role="dialog"
aria-labelledby="myModalLabel" aria-hidden="true">
  <!--Modal: Contact form-->
  <div class="modal-dialog cascading-modal" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header sign white-text">
        <h4 class="title">SIGN-IN</h4>
      </div>
      <!--Body-->
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <mdb-icon fas icon="envelope" class="prefix grey-text"></mdb-icon>
          <input type="email" id="defaultForm-email" [(ngModel)]="email" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-email">Email</label>
          
        </div>

        <div class="md-form mb-4">
          <mdb-icon fas icon="lock" class="prefix grey-text"></mdb-icon>
          <input type="password" id="defaultForm-pass" [(ngModel)]="password" class="form-control"
                 mdbInput mdbValidate>
          <label for="defaultForm-pass">Password</label>
          

      </div>
      

        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn class="btn white-text" mdbWavesEffect (keyup.enter)="login()" (click)="login()">LOGIN</button>
        </div>
        <div class="modal-footer d-flex justify-content-center">
          <p class="success" *ngIf="success">{{success}}</p>
          <p class="invalid" *ngIf="invalid">{{invalid}}</p>
        </div>

      </div>
    </div>
    <!--/.Content-->
  </div>
  <!--/Modal: Contact form-->
</div>
